# Ambiente virtual
venv/
env/
ENV/

# Arquivos Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de distribuição
dist/
build/
*.egg-info/

# Arquivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de dados grandes
*.csv
*.json
*.zip

# Arquivos de resultados
results/figures/*.png 